$bg_color: white !important;
$loading_index: 10001;
$yellow: #FFEE55;
$light_yellow: #FFF98A;
$red: #EF6C72;
$light_red: #F8999A;
$orange: #F7A440;
$light_orange: #FFCE8D;
$green: #69E09A;
$light_green: #B1EAC8;
$blue: #7CACF7;
$light_blue: #B6CDF9;

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto; /*webkit浏览器*/
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  background: $bg_color;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  background: $bg_color;

  .hide-loading {
    display: none !important;
  }

  .loading {
    position: fixed !important;
    z-index: $loading_index;
    padding: 10px;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .home{
    .title{
      font-size: 1.25em;
      font-weight: 900;
      font-family: sans-serif;
    }
    .y-line{
      position: relative;
      height: 20px;
      top: 2px;
      margin-right: 10px;
      z-index: 1;
      border-left: 4px solid $blue;
    }
    .btn-text{
      font-family: sans-serif;
      font-weight: 100;
      font-size: 1.3em;
      color: #646566;
    }
    .disable-text{
      color: #ccc !important;
    }
    .img-box{
      text-align: center;
      margin: auto;
      width: 30px;
      height: 30px;
      .disable-img{
        zoom: 2.5;
        position: absolute;
        top: -10px;
        left: -8px;
      }
    }
  }
}

.van-nav-bar__left {
  .van-icon{
      color: white !important;
  }
}